fastapi
uvicorn
python-multipart
transformers
torch
Pillow
optimum
accelerate
torchvision
timm
einops
pydantic
jinja2
huggingface_hub
pandas
torchvision
opencv-python
pymongo
numpy
seaborn
matplotlib
